@media only screen and (min-width: 1200px) {
    .header {
        padding: 0px 20px 0px 20px;
        margin-top: 40px;
        width: 1200px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--bg);
        border-radius: 14px;
    }

    .header:hover {
        cursor: pointer;
    }

    .mode {
        height: 42px;
        width: 42px;
        background-color: var(--bg-headerIcon);
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}

@media only screen and (max-width: 1200px) {
    .header {
        padding: 0px 10px 0px 10px;
        margin-top: 40px;
        width: 300px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--bg);
        border-radius: 14px;
    }

    .mode {
        height: 42px;
        width: 42px;
        background-color: var(--bg-headerIcon);
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}